@using System.Globalization
@model ViFlix.DataAccess.Models.Movie

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: @Model.Genre.ToString()</li>
    @{
        if (@Model.ReleasedDate != null)
        {
            <li>Release Date: @Model.ReleasedDate.Value.ToString("D") </li>
        }
    }
    @{
        if (@Model.DateAdded != null)
        {
            <li>Date Added: @Model.DateAdded.Value.ToString("D") </li>
        }
    }
    <li>Number In Stock: @Model.NumberInStock</li>

</ul>
